html{
    scroll-behavior: smooth;
    padding: 1%;
}

body{
    margin: 0 auto;
    padding: 1%;
    background-image: url(/img/dubai1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    margin: 0 auto;
    padding: 1%;
    padding-top: 5%;
}

.logcont{
    margin: 0 auto;
    width: 320px;
    height: 460px;
    background-color: rgb(109, 59, 245);
    box-shadow: 0px 0px 6px 6px rgb(15, 15, 15, 0.2);
    border-radius: 1%;
    text-align: center;
}

h3{
    padding-top: 15%;
    font-size:30px;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Merienda';
}

h1{
    margin: 0 auto;
    padding: 1%;
    padding-top: 15%;
    padding-left: 27%;
    font-size: 128px;
    color: rgb(3, 3, 3, 0.9);
    font-family: 'Merienda';
    animation: welcome 1.5s ease-in-out;
    position: relative;
}

@keyframes welcome {
    0%   {bottom: 300px; opacity: 0; font-size: 64px;}
    100% {bottom: 0px; opacity: 1; font-size: 128px;}
  }

input[type=text], input[type=password]{
    border: 1px solid rgba(15, 15, 15, 0.1);
    border-radius: 10px;
    width: 70%;
    height:35px;
    background-color: rgba(117, 69, 248, 0.2);
    -moz-box-shadow: inset 0px 0px 10px 10px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0px 0px 10px 10px rgba(0, 0, 0, 0.3);
}
::placeholder {
    opacity: 0.45;
}

.p{
    font-size:16px;
    color: rgba(255, 255, 255, 0.8);
    padding-right: 35%;
}

button{
    border: 1px solid rgba(15, 15, 15, 0.1);
    border-radius: 10px;
    width: 30%;
    height: 35px;
    background-color: rgb(3, 3, 3, 0.9);
    color: rgba(255, 255, 255, 0.8);
}
button:active{
    -moz-box-shadow: inset 0px 0px 10px 10px rgba(255, 255, 255, 0.15);
    -webkit-box-shadow: inset 0px 0px 10px 10px rgba(255, 255, 255, 0.15);
}


